
.menu-box-item {
  cursor: pointer;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/** both pages header styling**/
.jumbotron {
  margin-bottom: 2% !important;
background-image: url("https://preview.ibb.co/bBmUfG/moneyco.jpg");
color: white;
background-position: center;
 background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
}

.lead {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  font-size: 25px !important;
}

.display-3, .lead {
  font-weight: 500;
}
.center {
  margin: auto;
}
[alt="corruptasker-logo"] {
  width: 200px !important;
  height: 200px !important;
}
/** Buttons styling**/
.btn {
  background-color: #8D60A4;
  border-color: #8D60A4;
  color: #fff;
  box-shadow: 0 3px #purple;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  cursor: pointer;
}

a .btn:hover {
  color: #f2f2f2 !important;
}
/** the list section **/
.menu-box {
  border-left:1px solid #e5e5e5;
}

.menu-box .menu-box-item {
   border:none;
   border:4px solid transparent;
   padding:0px 12px 0 12px;
}

.menu-box .menu-box-item.active {
   border-left-color:purple;
   background-color:#f5f5f5;
}

.single h3.side-title:after {
content: '';
width: 60px;
height: 1px;
display: block;
margin-top: 6px;
}

.single ul {
margin-bottom: 0;
}

.single li a {
  color: black;
font-size: 14px;
text-transform: uppercase;
border-bottom: 1px solid #f0f0f0;
line-height: 40px;
display: block;
text-decoration: none;
}

.single li a:hover {
color: blue;
}

.single li:last-child a {
border-bottom: 0;
}
.single {
  max-height: 80%;
  overflow-y:auto;
}
/** Timeline Section **/
.message-item {
margin-bottom: 25px;
margin-left: 40px;
position: relative;
}
.message-item .message-inner {
background: #fff;
border: 1px solid #ddd;
border-radius: 3px;
padding: 10px;
position: relative;
}
.message-item .message-inner:before {
border-right: 10px solid #ddd;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -20px;
top: 6px;
width: 0;
}
.message-item .message-inner:after {
border-right: 10px solid #fff;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -18px;
top: 6px;
width: 0;
}
.message-item:before {
background: #fff;
border-radius: 2px;
bottom: -30px;
box-shadow: 0 0 3px rgba(0,0,0,0.2);
content: "";
height: 100%;
left: -30px;
position: absolute;
width: 3px;
}
.message-item:after {
background: #fff;
border: 2px solid #ccc;
border-radius: 50%;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
content: "";
height: 15px;
left: -36px;
position: absolute;
top: 10px;
width: 15px;
}
.clearfix:before, .clearfix:after {
content: " ";
display: table;
}
.message-item .message-head {
border-bottom: 1px solid #eee;
margin-bottom: 8px;
padding-bottom: 8px;
}
.message-item .message-head .avatar {
margin-right: 20px;
}
.message-item .message-head .user-detail {
overflow: hidden;
}
.message-item .message-head .user-detail h5 {
font-size: 16px;
font-weight: bold;
margin: 0;
}
.message-item .message-head .post-meta {
float: left;
padding: 0 15px 0 0;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}
img {
 min-height: 40px;
 height: 40px;
}

/** Twitter Widget Section **/
.cl-watcher-avatar-box {
   width:40px !important;
   height:40px !important;
}

.inner-box {
    display:block;
    height:100%;
    padding-left:30px;
    padding-right:30px;
}

.row {
  margin-top: 2%;
}

/** Mobile Friendly header text for smaller screens **/
@media only screen and (max-width: 530px) {
  .container-fluid h2 {
    font-size: 48px;

    }
}

@media only screen and (max-width: 344px) {
  .container-fluid h2 {
    font-size: 40px;
  }
}



/* Phoenix flash messages */
.alert:empty { display: none;  }
