/* This file is for your main application css. */
$fa-font-path: "../fonts";
@import "font-awesome";

/*
$font-family-sans-serif: Lato, "Helvetica Neue", Helvetica, sans-serif;
$font-family-base: $font-family-sans-serif;
*/

@import "bootstrap";
@import "custom";
