<div class="container-fluid">
	<main>
		<h2>Edit event</h2>

		<%= render "form.html", Map.put(assigns, :action, court_appearance_path(@conn, :update, @court_appearance)) %>

		<span><%= link "Back", to: court_appearance_path(@conn, :index) %></span>
		
	</main>
</div>
