<div class="container-fluid">
	<main>
		<h2>New event</h2>

		<%= render "form.html", Map.put(assigns, :action, court_appearance_path(@conn, :create)) %>

		<span><%= link "Back", to: court_appearance_path(@conn, :index) %></span>
	</main>
</div>
