<div class="container-fluid">
	<main>
		<h2>Show event</h2>

		<ul>

		  <li>
		    <strong>Date:</strong>
		    <%= @court_appearance.date %>
		  </li>

		  <li>
		    <strong>Remarks:</strong>
		    <%= @court_appearance.remarks %>
		  </li>

		</ul>

		<span><%= link "Edit", to: court_appearance_path(@conn, :edit, @court_appearance) %></span>
		<span><%= link "Back", to: court_appearance_path(@conn, :index) %></span>		
	</main>
</div>
