<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <h2 class="display-3"><img src="images/powerfist-logo.png" alt="corruptasker-logo">VigilantCitizens</h2>
    <p class="lead">Curbing the menace of corruption in Nigeria. One step at a time.</p>
    <section class="row">
      <div class="center">
        <a href="/twitter-auth" class="btn">
  <i class="fa fa-twitter" aria-hidden="true"></i> Share on your Twitter timeline</a>
      </div>
    </section>
  </div>
</div>
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/"><strong>Anti-Corruption Cases</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/learn"><strong>Anti-Corruption Education</strong></a>
  </li>
</ul>
<div class="container-fluid">
  <section class="" style="display:flex;margin-top:50px;padding:0 40px;">
  <div class="row">
    <div class="col-sm">
      <div class="single category">
        <h3 class="side-title">Cases</h3>
        <ul class="list-unstyled menu-box">
          <%= for df <- @defendants do %>
          <li class="menu-box-item">
            <a href="javascript:;" data-defendant-id="<%= df.id %>"><%= df.name  %></a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-sm">
      <div class="container-fluid">
        <div class="row">
          <h3>Timeline of events</h3>
          <div class="qa-message-list" id="wallmessages">
            <%# Event space %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="inner-box">
        <h4>Opinions on social media</h4>
        <div class="listings">
          <ul id="opinions" style="list-style-type:none;list-style-position:outside;">
            <li>
               <div class="persona-box">
                   <span class="persona-avatar-box ultrapill cl-watcher-avatar-box">
                       <a href="#" class="persona-avatar">
                        <img src="<%= static_path(@conn, "/images/twitterlogo.png") %>" alt="Twitter logo" class="flexible">
                       </a>
                   </span>
                   <div class="persona-info">
                       <p><b>@CivicLab</b> joins the fight against corruption.</p>
                   </div>
               </div>
           </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  </section>
</div>

<div id="timeline-bank" style="display: none;">
  <%= for ev <- @events do %>
  <div data-defendant-id="<%= ev.defendant_id %>">
    <p class="remark"><%= ev.remarks %></p>
    <p class="date"><%= ev.date %></p>
  </div>
  <% end %>
</div>
<script type="text/javascript">
  function readWelcomeMessage() {
      sayIt('Hello and welcome to VigilantCitizens.');
  }
  
</script>
