<div class="container-fluid">
	<main>
		<h2>Show Case</h2>

		<ul>

		  <li>
		    <strong>Title:</strong>
		    <%= @defendant.name %>
		  </li>

		</ul>

		<span><%= link "Edit", to: defendant_path(@conn, :edit, @defendant) %></span>
		<span><%= link "Back", to: defendant_path(@conn, :index) %></span>
		
	</main>
</div>
