<div class="container-fluid">
	<main>
		<h2>Edit User</h2>

		<%= render "form.html", Map.put(assigns, :action, user_path(@conn, :update, @user)) %>

		<span><%= link "Back", to: user_path(@conn, :index) %></span>
		
	</main>
</div>
