<div class="container-fluid">
  <main>
    <h2>Show User</h2>

    <ul>
      <li>
        <strong>Handle:</strong>
        <%= @user.handle %>
      </li>

      <li>
        <strong>ID:</strong>
        <%= @user.twitter_id %>
      </li>

    </ul>

    <span><%= link "Edit", to: user_path(@conn, :edit, @user) %></span>
    <span><%= link "Back", to: user_path(@conn, :index) %></span>
    
  </main>
</div>
